@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/*Rem for font, margin, padding, width , height */
/*em for button padding relative to font, small internal elements*/
:root {
    /*color-palette1*/
    --color1: #02569B;
    --color2: #13B9FD;
    --color3: #f4f6f8;
    --color4: #212121;
    --color5: #ffd60a;

    /*color-palette2*/
    /* --color1: #0A192F;
    --color2: #64FFDA;
    --color3: #56CCF2;
    --color4: #E6E6E6;
    --color5: #FFFFFF; */

}

body {
    background: f4f6f8;
}

.logo h2 {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #f4f6f8;
    cursor: pointer;
}

.logo a {
    all: unset;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 2px 9px 1px rgba(55, 190, 243, 0.473);
}

.header-container {
    padding: 1.5rem 6rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #02569B, #13B9FD);
}

.links {
    display: flex;
    align-items: center;
    gap: 2.2rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    color: #f4f6f8;
    ;
}

.links li {
    list-style-type: none;
    border-radius: 5rem;
    cursor: pointer;
}

.links li a {
    all: unset;

}

.mobile-navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
}

.links li:hover {
    text-decoration: 2px underline #f4f6f8;
    text-underline-offset: 0.7rem;
    transition: 1s ease;
}

.nav-btn {
    border: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    color: #f4f6f8;
    background-color: #02569B;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.nav-btn a {
    all: unset;
}

.nav-btn:hover {
    color: #02569B;
    transition: 0.2s ease-in;
    background-color: #ffd60a;
}

.contact-arrow {
    width: 1.5rem;
    border: 0.1rem solid #f4f6f8;
    border-radius: 50%;
    padding: 0.2rem;
}

.contact-arrow:hover {
    border: 0.1rem solid #02569B;
    border-radius: 50%;
    padding: 0.2rem;
    content: url(./assets/up-right-arrow2.png);
}

.hero {
    padding: 0rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 1rem;
}

.hero-text {
    width: 100%;
    padding: 0rem 6rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin-top: 5rem;
}

.headline {
    font-size: 1.5rem;
    font-weight: 700;
    color: #02569B;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.headline:hover {
    color: rgb(86, 167, 243);
    transition: 0.2s ease-in;
}

.main {
    font-size: 3rem;
    color: #02569B;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.main-text {
    font-size: 1.2rem;
    color: #212121;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.name {
    font-size: 3.5rem;
    font-weight: 800;
    background: linear-gradient(to left, #02569B, #13B9FD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 1;
    font-family: "Share Tech", sans-serif;
}

.hero-btn {
    border: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    color: #f4f6f8;
    background: linear-gradient(to left, #02569B, #13B9FD);
    font-family: "Open Sans", sans-serif;
    margin-right: 1rem;

}

.hero-btn-2 {
    border-style: solid;
    border-image: linear-gradient(to left, #02569B, #13B9FD) 1;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    margin-right: 1rem;
    font-size: 1.1rem;
    color: #02569B;
    background-color: transparent;
    border-radius: 50%;
}

.hero-btn:hover {
    transform: scale(0.8);
    background-color: #f4f6f8;
}

.hero-btn a,
.hero-btn-2 a {
    all: unset;
}

.hero-btn-2:hover {
    transform: scale(0.8);
}

.about {
    padding: 6rem 6rem 0rem 6rem;
}

.section-title {
    font-family: "Share Tech", sans-serif;
    font-size: 3rem;
    color: #02569B;
    text-decoration: 2px underline #5aacfd;
    text-underline-offset: 0.7rem;
    margin-bottom: 2.5rem;
    letter-spacing: -2px;
    text-align: center;
}

.bio {
    font-size: 1.3rem;
    color: #212121;
    line-height: 1.8;
    padding-bottom: 6rem;
    text-align: left;
}

.experience {
    padding: 0rem 6rem 3rem 6rem;
    background: linear-gradient(to left, #02569B, #13B9FD);
}

.two {
    color: #f4f6f8;
    text-decoration: 2px underline #ffd60a;
    text-underline-offset: 0.7rem;
    padding: 2.5rem 0;
    margin-bottom: 0;
    letter-spacing: -2px;
}

.experience-item {
    /* width: 25rem; */
    width: 100%;
    background-color: #13B9FD;
    border-left: 2px solid #ffd60a;
    padding: 1rem;
    color: #f4f6f8;
}

.item-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.item-subtitle {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.roles {
    padding-left: 1.3rem;
}

.roles li {
    line-height: 1.6;
}

.roles li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.experience-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects {
    padding: 6rem;
}

.project {
    width: 500px;
    height: 400px;
    background: #5aacfd;
    overflow: hidden;
}

.alt-image {
    width: 500px;
    margin-bottom: 0.5rem;
}

.project-title {
    padding: 0px 2rem;
    color: #f4f6f8;
    margin-bottom: 0.5rem;
}

.project-subtext {
    padding: 0px 2rem;
    color: #f4f6f8;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

.store-image {
    padding: 0px 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.store-image img {
    width: 8rem;
    cursor: pointer;
}

.store-image img:hover {
    transform: scale(0.8);
}

.project-items {
    display: flex;
    justify-content: space-between;
}

.pay-image {
    width: 500px;
    height: 230px;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.skills {
    padding: 0rem 6rem 3rem 6rem;
    background: linear-gradient(to top, #02569B, #13B9FD);
}

.skills-item {
    width: 100%; 
    height: 150px;
    padding: 1rem;
    background-color: #f4f6f854;
    place-content: center;
}

.skills-item:nth-child(2),
.skills-item:nth-child(3),
.skills-item:nth-child(6) {
    background-color: #ffd60a;
}

.skill-title {
    color: #002849;
    margin-bottom: 1rem;
}

.tools {
    display: flex;
    gap: 1rem;
}

.tools p {
    padding: 0.3rem 1rem;
    border: 0.1rem solid #002849;
    color: #002849;
}

.skills-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.certification {
    padding: 6rem;
}

.cert {
    width: 500px;
    height: 100%;
    background: #5aacfd;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem;
}

.alt-image {
    width: 500px;
    margin-bottom: 0.5rem;
}

.cert-title {
    color: #f4f6f8;
}

.cert-subtext {
    color: #f4f6f8;
    line-height: 1.6;
}

.cert-items {
    display: flex;
    justify-content: space-between;
}

.contact {
    padding: 6rem;
    background: linear-gradient(to left, #02569B, #13B9FD);
}

.contact-text p {
    font-size: 1.3rem;
    color: #f4f6f8;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.three {
    color: #f4f6f8;
    text-decoration: 2px underline #ffd60a;
    text-underline-offset: 0.7rem;
    padding: 0;
    margin-bottom: 3rem;
    letter-spacing: -2px;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    color: #f4f6f8;
    margin-bottom: 2rem;
}

.contact-item {
    border: 2px solid #f4f6f8;
    padding: 1.5rem 2rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contact-item p {
    font-weight: 700;
}

.contact-item img {
    width: 20px;
    height: 20px;
}

.contact-content button {
    all: unset;
    background-color: #f4f6f8;
    padding: 0.8rem 2rem;
    color: #002849;
    font-weight: 600;
}
.contact-content {
    text-align: center;
}
.contact-content button:hover {
    background-color: #ffd60a;
    transition: 0.2s ease;
}

.footer {
    background-color: #02569B;
    color: #f4f6f8;
    text-align: center;
    padding: 1rem 1.5rem;
}



@media (max-width: 600px) {
    .header-container {
        padding: 1.2rem 1rem;
    }

    .logo h2 {
        font-size: 1.2rem;
    }

    .mobile-navlinks {
        flex-direction: column;
        z-index: 1;
        height: 320px;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: #f4f6f8;
        width: 60%;
        gap: 0rem;
        padding: 3rem 1.5rem;
        align-items: flex-start;
        display: none;
    }

    .links {
        color: #02569b;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-btn {
        padding: 0.7rem 1.3rem;
        gap: 0.4rem;
    }

    .hero {
        padding: 1rem 1rem;
        display: block;
        justify-content: space-between;
        align-items: center;
        height: auto;
        gap: 1rem;
        width: 100%;
    }

   .hero-text {
    width: 100%;
    height: 100vh;
    padding: 0rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin-top: 5rem;
    justify-content: center;
}

    .headline {
        font-size: 1rem;
        margin-bottom: 1.2rem;
        width: 100%;
    }

    .main {
        margin-bottom: 1rem;
        font-size: 2rem;
        text-align: center;
    }

    .main-text {
        font-size: 1rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .name {
        font-size: 3rem;
    }

    .hero-btn-2 {
        padding: 0.5rem 1rem;
        margin: 0;
        font-size: 0.8rem;
    }

    .hero-btn {
        padding: 0.6rem 1rem;
        margin: 0;
        font-size: 0.8rem;

    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .hero-image {
        width: 100%;
        height: 400px;
        margin-top: 3rem;
    }

    .about {
        padding: 0rem 1rem 0rem 1rem;
    }

    .skills-item:nth-child(2),
    .skills-item:nth-child(4),
    .skills-item:nth-child(6) {
        background-color: #ffd60a;
    }

    .skills-item:nth-child(3) {
        background-color: #f4f6f854;
    }

    .section-title {
        font-size: 2.5rem;
    }

    .experience {
        padding: 0rem 1rem 3rem 1rem;
        background: linear-gradient(to left, #02569B, #13B9FD);
    }

    .two {
        font-size: 2rem;
    }

    .bio {
        font-size: 1rem;
    }

    .projects {
        padding: 4rem 1rem;
    }

    .project-items {
        display: block;
    }

    .project {
        width: 100%;
        height: 100%;
        background: #5aacfd;
        overflow: hidden;
        margin-bottom: 1.5rem;
    }

    .alt-image {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .store-image {
        margin-bottom: 1rem;
    }

    .skills {
        padding: 0rem 1rem 2rem 1rem;
    }

    .skills-items {
        display: grid;
        grid-template-columns: 1fr;

    }

    .skills-item {
        width: auto;
        height: auto;
        padding: 0.7rem;
    }

    .tools {
        flex-wrap: wrap;
    }

    .certification {
        padding: 4rem 1rem;
    }

    .cert-items {
        display: block;
    }

    .cert {
        width: 100%;
        margin-bottom: 1.5rem;
    }


    .contact {
        padding: 2rem;
    }

    .contact-text p {
        font-size: 1rem;
    }

    .three {
        margin-bottom: 2rem;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .footer {
        padding: 1.5rem;
    }

}